<section>
    <form>
        <input name="name" type="text" value="@Model.name" />
        <input name="description" type="text" value="@Model.description" />
        <input type="submit" value="Mark as Done" />
    </form>
</section>

<br/>

<section>
    <form>
        <input name="Name" type="text" />
        <input name="To Do Description" type="text" rows="5" />
        <input type="submit" value="Create To Do" />
    </form>
</section>