<section>
    <form>
        <input name="firstNumber" type="number"/>
        <br /> <br />
        <input name="secondNumber" type="number"/>
        <br /> <br />
        <input type="submit" value="Mark as Done" />
    </form>
</section>

    <br /> <br /> <br />

<section>
    <form>
        <input name="Name" type="text" />
        <br /> <br />
        <input name="To Do Description" type="text" rows="5" />
        <br /> <br />
        <input type="submit" value="Create To Do" />
    </form>
</section>